.nav {
  position: relative;
  margin-bottom: 2px;
  top: 0%;
  height: 8vh;
  width: 100%;
  background-color: black;
  overflow: hidden;
  z-index: 5; }
  .nav img {
    height: 40px;
    width: 50px;
    position: absolute;
    left: 4vh;
    top: 10px; }
  .nav img:hover {
    background-color: lightblue;
    border-radius: 20%; }

.nav > .nav-header {
  display: inline; }

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px; }

.nav > .nav-btn {
  display: none;
  margin-right: 2vh; }

.nav-btn:hover {
  background-color: #000000;
  border-radius: 40%;
  border: solid white; }

.nav-btn label {
  overflow-y: hidden; }

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: 30px;
  margin-top: 10px; }

.nav > .nav-links > ul li a {
  display: block;
  padding: 0 8px;
  color: rgba(187, 240, 255, 0.918);
  line-height: 40px;
  font-size: 20px;
  text-decoration: none; }

.nav > .nav-links > ul {
  padding: 0;
  margin-top: 2px;
  list-style: none;
  position: relative; }

.nav > .nav-links > ul li {
  display: inline-block;
  margin-left: auto; }

.nav > .nav-links > ul li a:hover {
  color: #ffffff; }

.nav > #nav-check {
  display: none; }

.nav .nav-links ul a.icon {
  margin-left: 80px;
  margin-right: 10px; }

.nav .nav-links ul a i {
  background-color: #96c7ca;
  border-radius: 50px;
  padding: 7px;
  margin-left: 5px; }

@media (max-width: 890px) {
  .nav {
    overflow: visible; }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px; }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 40px;
    padding: 13px; }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid white; }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #6c757d;
    height: 0px;
    transition: all 0.3s ease-in;
    top: 45px;
    left: 0px; }
  .nav > .nav-links > ul li a {
    display: block;
    width: 100%; }
  .nav > .nav-links > ul li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    background-color: #6c757d;
    z-index: 5; }
  .nav > .nav-links > ul li a {
    margin-left: 40%; }
  .nav .nav-links ul a.icon {
    margin-left: 33%; }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px; }
  .nav > #nav-check:checked ~ .nav-links {
    height: 50vh;
    margin-bottom: 50vh;
    margin-top: 50px; } }

h5 {
  overflow-y: hidden; }

footer {
  background-color: #0f293a;
  color: #5daade;
  margin-bottom: 0%;
  font-size: 3vh;
  font-weight: bold;
  text-decoration: none;
  height: 35vh;
  overflow-y: hidden; }
  footer img {
    height: 20vh;
    margin-left: 5%;
    margin-top: 5%; }

footer a section {
  overflow-y: hidden; }

.girar {
  overflow-y: hidden;
  animation-duration: 4s;
  animation-name: giratorio;
  animation-iteration-count: infinite; }

@keyframes giratorio {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

footer a {
  text-decoration: none; }

.contact-section {
  background: url(bg.png) no-repeat center;
  background-size: cover;
  padding: 40px 0; }

.contact-section h1 {
  text-align: center;
  color: #ddd; }

.border {
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto; }

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px; }

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s; }

.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #34495e; }

textarea.contact-form-text {
  resize: none;
  height: 120px; }

.contact-form-btn {
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s; }

.contact-form-btn:hover {
  background: #2980b9; }

::-webkit-scrollbar {
  width: 10px;
  background-color: #0f293a; }

::-webkit-scrollbar-track {
  background-color: #0f293a;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background: #2c5b7e;
  border-radius: 10px;
  height: 45px; }

::-webkit-scrollbar-button {
  height: 45px; }

.fotosIntegrantes, #fotosEquipo {
  text-align: center;
  height: 20vh;
  color: #5daade; }

#portfolio {
  margin-top: 10vh; }

#portfolioMenu {
  color: #a5dcdf; }

.zoom-box {
  height: 90vh auto;
  padding: 15px;
  margin: 2px auto;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  overflow-y: hidden; }

.zoom-box:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5); }

#fotosPortfolio:hover {
  transform: scale(1.5); }

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  overflow-y: hidden; }

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%; } }

* {
  box-sizing: border-box;
  font-family: "dosis";
  overflow-x: hidden; }

body {
  margin: 0px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #65b1e5; }

.background {
  background-color: #000000;
  z-index: -1; }

#logoBlanco {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center; }

#trazo {
  height: 25vw;
  margin-top: 10vh;
  width: 50vw;
  stroke-dasharray: 2730;
  stroke-dashoffset: 2730;
  animation: llenar 10s linear infinite; }

#circulo {
  stroke-dasharray: 2730;
  stroke-dashoffset: 2730;
  animation: llenar 230s linear infinite; }

@keyframes llenar {
  0% {
    stroke-dashoffset: 2730; }
  100% {
    stroke-dashoffset: 0; } }

.contenedorFraseAdai {
  display: flex;
  justify-content: center;
  width: 330px;
  margin-left: 40%;
  margin-top: 15px;
  margin-bottom: 92px; }

.fraseAdai {
  display: flex;
  color: white;
  white-space: nowrap;
  font-size: 5vh;
  width: 0;
  animation: typing 5s forwards infinite; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

.carousel-inner {
  margin-top: 30px;
  height: 80vh; }

.textoTitulo {
  color: #5daade;
  font-size: 5vh; }

#textoPasos {
  color: #5daade;
  font-size: 3.5vh; }

#textoEmpresas {
  color: #5daade;
  font-size: 3.5vh; }

.empresas {
  margin-top: 10vh;
  color: #5daade; }

#logos {
  height: 10vh;
  width: 10vh; }

.parana {
  margin-top: 15px;
  color: #5daade;
  overflow-y: hidden; }

h1 {
  overflow-y: hidden; }

section div div img {
  height: 16vh;
  background-color: #0c2d43;
  border-radius: 10vh; }

.caja {
  margin-top: 2%;
  background-color: #131b20;
  padding: 2%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  border-radius: 10px; }

.cajaProyectos {
  left: 25%;
  width: 50vw; }

.nav-links ul li a {
  z-index: 200; }

@media (max-width: 890px) {
  .carousel-inner {
    margin-top: 5%;
    height: 40vh; }
  .carousel-item {
    margin-top: 0.2%;
    height: 40vh; }
  .contenedorFraseAdai {
    display: flex;
    justify-content: center;
    width: 200px;
    margin-left: 25%; }
  .fraseAdai {
    font-size: 2.5vh; }
  #textoPasos {
    font-size: 2.25vh; }
  .textoTitulo {
    font-size: 2.5vh; }
  footer {
    height: 60vh; } }
