h5{
    overflow-y: hidden;
}
footer {
    background-color: #0f293a;
    color:$color-letras-celeste;
    margin-bottom: 0%;
    font-size: $textoEstandard*0.6;
    font-weight: bold;
    text-decoration: none;
    height: 35vh;
    overflow-y: hidden;
img{
    height: 20vh;
    margin-left: 5%;
    margin-top: 5%;
}
}
footer a section{
    overflow-y: hidden;
}
.girar {
    overflow-y: hidden;
    animation-duration: 4s;
    animation-name: giratorio;
    animation-iteration-count:infinite;
}
@keyframes giratorio {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}
footer a{
    text-decoration: none;
}