@import "colores";
@import "nav";
@import "tipografia";
@import "footer";
@import "form";
@import "scrollbar";
@import "portfolio";

* {
  box-sizing: border-box;
  font-family: $fuente;
  overflow-x: hidden;
}

body {
  margin: 0px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #65b1e5;
}

.background {
  background-color: $color-fondo-negro;
  z-index: -1;
}
#logoBlanco {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#trazo {
  height: 50vw;
  margin-top: 45px;
  stroke-dasharray: 2730;
  stroke-dashoffset: 2730;
  animation: llenar 10s linear infinite;
}
#circulo {
  stroke-dasharray: 2730;
  stroke-dashoffset: 2730;
  animation: llenar 230s linear infinite;
}
@keyframes llenar {
  0% {
    stroke-dashoffset: 2730;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.contenedorFraseAdai {
  display: flex;
  justify-content: center;
  width: 330px;
  margin-left: 40%;
  margin-top:15px;
  margin-bottom: 92px;
}
.fraseAdai {
  display: flex;
  color: white;
  white-space: nowrap;
  font-size: $textoEstandard;
  width: 0;
  animation: typing 5s forwards infinite;
}
@keyframes typing{
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.carousel-inner {
  margin-top: 30px;
  height: 80vh;
}

.textoTitulo {
  color: $color-letras-celeste;
  font-size: 5vh;
}

#textoPasos {
  color: $color-letras-celeste;
  font-size: $textoEstandard * 0.7;
}

#textoEmpresas {
  color: $color-letras-celeste;
  font-size: $textoEstandard * 0.7;
}

.empresas {
  margin-top: 10vh;
  color: $color-letras-celeste;
}

#logos {
  height: 10vh;
  width: 10vh;
}

.parana {
  margin-top: 15px;
  color: $color-letras-celeste;
  overflow-y: hidden;
}
h1{
    overflow-y: hidden;
}
section div div img {
  height: 16vh;
  background-color: #0c2d43;
  border-radius: 10vh;
}

@mixin cajaDeFondo {
  margin-top: 2%;
  background-color: $color-fondo-caja;
  padding: 2%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  border-radius: 10px;
  
}

.caja {
  @include cajaDeFondo;
}

.cajaProyectos {
  left: 25%;
  width: 50vw;
}
.nav-links ul li a{
    z-index: 200;
}
@media (max-width: 890px) {
  .carousel-inner {
    margin-top: 5%;
    height: 40vh;
  }
  .carousel-item {
    margin-top: 0.2%;
    height: 40vh;
  }
  .contenedorFraseAdai {
    display: flex;
    justify-content: center;
    width: 300px;
    margin-left: 19%;
  }
  .fraseAdai {
    font-size: $textoEstandard * 0.8;
  }
  #textoPasos {
    font-size: $textoEstandard * 0.45;
  }
  .textoTitulo {
    font-size: $textoEstandard * 0.5;
  }
  footer {
    height: 60vh;
  }
}
