@import "colores";
@import "nav";
@import "tipografia";
@import "footer";


* {
    box-sizing: border-box;
    font-family: $fuente;
  }
  
body {
    margin: 0px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: #65B1E5;
    overflow-y: auto;
}

.background {
    background-color: $color-fondo-negro;
  }

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.carousel-inner{
    margin-top: 30px;
    height: 80vh;
}

@media (max-width:890px) {
.carousel-inner{
    margin-top: 5%;
    height: 40vh;
    }
.carousel-item{
    margin-top: 0.2%;
    height: 40vh;
    }
}

.textoTitulo{
    color: $color-letras-celeste;
    font-size:5vh;
}

#textoPasos{
    color: $color-letras-celeste;
    font-size: $textoEstandard*2 ;
}

#textoEmpresas{
    color: $color-letras-celeste;
    font-size: $textoEstandard*3;
}

.empresas{
    margin-top: 10vh;
    color:$color-letras-celeste;
}

#logos{
    height: 10vh;
    width: 10vh;
}

.parana{
    margin-top: 7vh;
    color: $color-letras-celeste;
}

@mixin cajaDeFondo {
    margin-top: 2%;
    background-color: $color-fondo-caja;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border-radius: 10px;
}

.caja { @include cajaDeFondo; }

.fotosIntegrantes {
    text-align: center;
    height: 30vh;
    margin: 10vh;
    color: $color-letras-celeste;
}
#fotosEquipo {
    @extend .fotosIntegrantes;
}